* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  /* background-color: darkcyan; */
  margin: 0 auto;
}
.header {
  width: 100%;
  float: left;
  background-image: linear-gradient(to right, red, yellow);
}
.logo {
  width: 35%;
  float: left;
  text-align: center;
  margin: 5px auto;
}
.logo img {
  width: 65%;
  height: 120px;
  /* margin: 5px auto; */
}
.menu {
  width: 50%;
  float: left;
}
.menu nav {
  margin: 23px;
}
.menu nav ul {
}
.menu nav ul li {
  list-style: none;
  display: inline;
}
.menu nav ul li a {
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
  font-size: 19px;
}
.header-button {
  width: 10%;
  float: left;
}
.btn-1 {
}
.btn-1 button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
}
.btn-1 button:hover {
  background-color: tomato;
  transition: 0.8s;
  cursor: pointer;
}

.btn-2 {
}
.btn-2 button {
}
